meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description" , content="Dashboard With Html , Css , JavaScript , Sass , Pugjs")
title #{pageName}
link(rel="icon website" , href="./images/logo.png")
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap")
link(rel="stylesheet" , href="css/all.min.css")
link(rel="stylesheet" , href="css/aos.min.css")
link(rel="stylesheet" , href="css/" + pageName.toLowerCase() + ".min.css")
