doctype
html(lang="en")
    head
        include ../helpers/_variables.pug
        -let pageName = "Dashboard"
        include ../includes/_head.pug
    body
        .page
            include ../components/_sidebar.pug
            .content
                include ../components/_header.pug
                hr.after-header
                .dash-title-box
                    .box-time
                        .clock
                            .time-icon
                                i.fa-regular.fa-clock.fa-fw
                                span.des Time :
                            span.hours
                            span.minutes
                            span.seconds
                        .date
                            .date-icon
                                i.fa-regular.fa-calendar-days.fa-fw
                                span.des Date :
                            span.tod-text
                            span.today
                            span.month
                            span.year
                    .box-manage
                        button.manage Manage
                        button.add-customer Add Customer
                .dash-stats-box
                    each stat in [["fa-solid fa-users users","Visitors","1147"],["fa-solid fa-user-check subscribe" , "Subscribers" , "1530"],["fa-solid fa-cart-flatbed-suitcase suitcase" , "Sales" , "1280"],["fa-solid fa-circle-check check","Order","1037"]]
                        +statisBox(stat[0] , stat[1] , stat[2])
                .dash-container-statistics
                    .dash-website-visitors
                        .web-vis-container
                            .web-vis-head
                                h4.title Website Visitors
                                button.export Export
                                    i.fa-solid.fa-arrow-down-long.fa-fw
                            .web-vis-body
                                .load
                                    p 150k
                            .web-vis-foot
                                .bullets
                                    span Organic
                                        i.fa-solid.fa-arrow-trend-up.fa-fw
                                    span Social
                                        i.fa-solid.fa-shuffle.fa-fw
                                    span Direct
                                        i.fa-solid.fa-arrow-trend-down.fa-fw
                                .percentage
                                    span(data-number="80") 80%
                                    span(data-number="60") 60%
                                    span(data-number="40") 40%
                    .dash-user-statistics
                        .user-stat-container
                            .user-stat-head
                                h4.title User Statistics
                                .buttons
                                    button.export Export
                                        i.fa-solid.fa-arrow-down-long.fa-fw
                                    button.print Print
                                        i.fa-solid.fa-print.fa-fw
                            .user-stat-body
                                .chart
                            .user-stat-foot
                                .left-description
                                    span Subscribers
                                    span New Visitors
                                    span Active Users
                                .right-description
                                    span Orders Count
                                    span Inactive Users
                                    span Sales Amount
                .dash-container-tasks-posts
                    .dash-latest-tasks
                        .lat-task-head
                            .task-title
                                h3 Latest Tasks
                            .progress
                                span#tasks-progress
                        .lat-task-body
                            each item in [["Record a new video", "Record python video and create an exe project", "false"], ["Write an article", "Write Low Level vs High Level Languages", "false"], ["Finish a project", "Publish academy programming project", "false"], ["Attend the meeting", "Attend the project business analysis meeting", "true"], ["Finish lesson", "Finish explaining flexbox", "false"]]
                                +task(item[0], item[1], item[2])
                    .dash-posts
                        .dash-post-head
                            .post-title
                                h3 Latest Posts
                            #bullets
                        .post-heading#post-heading
                            img(src="", alt="")
                            div
                                h6
                                span
                        q.post-body#post-body
                        .post-footer
                            div
                                i.fa-solid.fa-heart
                                span#post-likes
                            #arrows
                                i.fa-solid.fa-chevron-left#previous-post
                                i.fa-solid.fa-chevron-right#next-post
                            div
                                i.fa-solid.fa-comments
                                span#post-comments
                .dash-Orders-Status-table
                    .dash-ordtab-container
                        .dash-ordtab-head
                            h3 Orders Status
                            button Create Order
                        .responsive-table
                            table
                                thead
                                    tr
                                        th Code
                                        th
                                            i.fa-solid.fa-user
                                            | Client
                                        th
                                            i.fa-solid.fa-calendar-day.fa-flip-horizontal
                                            | Date
                                        th
                                            i.fa-regular.fa-square-check
                                            | Status
                                        th
                                            i.fa-solid.fa-location-dot
                                            | Country
                                        th Total
                                tbody
                .footer
                    | Created By  
                    span
                        a(class="my-name" href="https://github.com/Muhammed-AL-Sous" target="_blank") Muhammed Al-Sous
        include ../includes/_scripts.pug