doctype
html(lang="en")
    head
        include ../helpers/_variables.pug
        -let pageName = "Dashboard"
        include ../includes/_head.pug
    body
        .page
            include ../components/_sidebar.pug
            .content
                include ../components/_header.pug
                hr.after-header
                .dash-title-box
                    .box-time
                        .clock
                            .time-icon
                                i.fa-regular.fa-clock.fa-fw
                                span.des Time :
                            span.hours
                            span.minutes
                            span.seconds
                        .date
                            .date-icon
                                i.fa-regular.fa-calendar-days.fa-fw
                                span.des Date :
                            span.tod-text
                            span.today
                            span.month
                            span.year
                    .box-manage
                        button.manage Manage
                        button.add-customer Add Customer



        include ../includes/_scripts.pug