header
    h1.page-name #{pageName}
    .noti-group
        .noti-btn
            i.fa-solid.fa-bell.fa-shake.fa-lg
        .noti-container
            h4 You Have 8 Notifications
            hr
            ul.noti-list
                +notification("fa-solid fa-user-plus fa-fw add-user" , "New user registered" , "5 minutes ago")
                +notification("./images/Steve_Jobs.jpg" , "Steve Jobs send message to you" , "17 minutes ago")
                +notification("fa-regular fa-comment fa-fw chat" , "Salma commented on admin" , "30 minutes ago")
                +notification("./images/Leah_Culver.jpg" , "Leah Culver send message to you" , "59 minutes ago")
                +notification("fa-regular fa-heart fa-fw love" , "Sarah reacted to your comment" , "1 hour ago")
                +notification("./images/Chris_Coyier.png" , "Chris Coyier send message to you" , "35 minutes ago")
                +notification("fa-regular fa-thumbs-up fa-fw like" , "Ghazal likes your answer to a question" , "2 hour ago")
                +notification("./images/Marissa_Mayer.png" , "Marissa Mayer send message to you" , "55 minutes ago")
        .message-btn
            i.fa-solid.fa-envelope.fa-lg
        .msg-container
            .title-msg
                .message Messages
                a(href="#") Mark all as read
            hr
            ul.list-msg
                +messages("./images/pic_message-01.jpg" , "Yaser Masoud" , "How are you ?" , "7 hour ago")
                +messages("./images/pic_message-02.jpg" , "Ahmad Sayed" , "OK , Thanks !" , "1 hour ago")
                +messages("./images/pic_message-03.jpg" , "Salem Adeeb" , "Ready for the meeting today..." , "10 minutes ago")
                +messages("./images/pic_message-04.jpg" , "Abdullah Yasin" , "Hi Mohammed, where are you?" , "30 minutes ago")
            hr
            .foot-msg
                a(href="#") See all Messages
                    i.fa-solid.fa-angle-right
        .quick-action-btn
            i.fa-solid.fa-layer-group
        .quickAc-container
            .quick-title
                h4 Quick Actions
                span.des Shortcuts
            ul.quick-action-list
                +quick-list("fa-regular fa-calendar-days fa-fw calendar" , "Calendar")
                +quick-list("fa-regular fa-map fa-fw map" , "Maps")
                +quick-list("fa-regular fa-file-excel fa-fw excel" , "Reports")
                +quick-list("fa-regular fa-envelope fa-fw envelope" , "Emails")
                +quick-list("fa-solid fa-file-invoice-dollar fa-fw invoice" , "Invoice")
                +quick-list("fa-regular fa-credit-card fa-fw credit" , "Payments")
        .person
            .person-title
                img(src="./images/profile.jpg" , alt="profile")
                span Mr.Muhammed
            .profile-menu-container
                .info-person
                    .image
                        img(src="./images/profile.jpg" , alt="person")
                    .details
                        span.name Muhammed AL-Sous
                        span.email Mhd.alsous.98@gmail.com
                hr
                ul.profile-menu-list
                    +profile-list("profile" , "fa-solid fa-user" , "View Profile")
                    +profile-list("settings" , "fa-solid fa-user-gear" , "Account Settings")
                    +profile-list("#" , "fa-solid fa-bell" , "Notifications")
                    +profile-list("#" , "fa-solid fa-people-arrows" , "Switch Account")
                    +profile-list("help" , "fa-solid fa-circle-question" , "Help Center")
                    +profile-list("#" , "fa-solid fa-arrow-right-from-bracket fa-rotate-180" , "Logout")
