// Import Variabels File
@use "../helpers/variables" as *;

// Import Mixins File
@use "../helpers/mixins" as *;

header {
  padding: 20px;
  @include flexbox("space-between", "center");
  .page-name {
    color: $white-color;
    font-family: "Work Sans", serif;
    font-size: 23px;
  }
  .noti-group {
    @include flexbox($ai: "center", $gap: "20px");
    .noti-btn {
      position: relative;
      width: 40px;
      height: 40px;
      @include border-r(50%);
      background-color: $bg-hover-components;
      @include flexbox("center", "center");
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        background-color: #31ce36;
        width: 15px;
        height: 15px;
        top: -6px;
        right: -6px;
        @include border-r(50%);
      }
      &::after {
        content: "8";
        color: #fff;
        position: absolute;
        font-size: 12px;
        top: -7px;
        right: -2px;
      }
      i {
        color: $gray-color;
      }
    }
    .noti-container {
      @include transition(0.9s);
      transform-origin: top right;
      display: none;
      @extend %details-container;
      right: 302px;
      &.show-noti {
        display: block;
        animation: showDetails 0.9s;
        -webkit-animation: showDetails 0.9s;
      }
      h4 {
        color: $gray-color;
        text-align: center;
        margin: 5px auto 15px;
        letter-spacing: 1px;
        font-weight: 800;
      }
      hr {
        @extend %hr-horizontal;
        margin: 15px 0 5px;
      }
      .noti-list {
        overflow-y: auto;
        max-height: 300px;
        @extend %scrollBar-header-buttons;

        li {
          cursor: pointer;
          @include flexbox($ai: "center", $gap: "10px");
          border-width: 0px 0px thin;
          border-style: solid;
          border-color: rgba(255, 255, 255, 0.12);
          padding: 10px 0;
          @include transition(0.6s);
          &:hover {
            background-color: $bg-hover-components;
          }
          &:last-of-type {
            border-width: 0px;
            padding-bottom: 0;
          }
          .icon {
            width: 40px;
            height: 40px;
            @include border-r(50%);
            color: $white-color;
            @include flexbox("center", "center");
            &:has(.add-user) {
              background-color: $blue-color-alt;
            }
            &:has(.chat) {
              background-color: $green-color;
            }
            &:has(.love) {
              background-color: $red-color;
            }
            &:has(.like) {
              background-color: $blue-color;
            }
          }
          img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            @include border-r(50%);
          }
        }
        .noti-content {
          span:first-child {
            display: block;
            color: $white-color;
            font-size: 12px;
            font-weight: 500;
          }
          span:last-child {
            color: $gray-color;
            font-size: 11px;
            font-weight: 500;
          }
        }
      }
    }

    .message-btn {
      @extend %button-hover;
      position: relative;
    }
    .msg-container {
      right: 245px;
      @extend %details-container;
      @include transition(0.9s);
      transform-origin: top right;
      display: none;
      &.show-msg {
        display: block;
        animation: showDetails 0.9s;
        -webkit-animation: showDetails 0.9s;
      }
      .title-msg {
        @include flexbox("space-between", "center");
        padding: 5px 0 10px;
        .message {
          font-size: 15px;
          font-family: "Work Sans", serif;
          font-weight: 500;
          color: $white-color;
        }
        > a {
          font-family: "Work Sans", serif;
          font-size: 14px;
          font-weight: 500;
          color: $white-color;
        }
      }
      hr {
        @extend %hr-horizontal;
        margin-bottom: 10px;
        margin-top: 10px;
      }
      .list-msg {
        max-height: 250px;
        overflow-y: auto;
        padding-right: 5px;
        @extend %scrollBar-header-buttons;
        li {
          @include flexbox($ai: "center", $gap: "15px");
          padding: 10px 0;
          cursor: pointer;
          @include transition(0.6s);
          &:hover {
            background-color: $bg-hover-components;
          }
          border-width: 0px 0px thin;
          border-style: solid;
          border-color: rgba(255, 255, 255, 0.12);
          &:last-of-type {
            border-width: 0px;
            padding-bottom: 0;
          }
          .image {
            img {
              width: 40px;
              height: 40px;
              object-fit: cover;
              @include border-r(50%);
            }
          }
          .info {
            .name {
              font-family: "Work Sans", serif;
              font-size: 13px;
              color: $gray-color;
              font-weight: 700;
            }
            .contentMsg {
              font-family: "Work Sans", serif;
              font-size: 12px;
              color: rgb(174 185 225 / 70%);
              margin: 5px 0;
              font-weight: 600;
            }
            .time {
              font-size: 10px;
              color: rgb(174 185 225 / 50%);
              font-weight: 500;
            }
          }
        }
      }
      .foot-msg {
        padding: 0 10px;
        > a {
          font-family: "Work Sans", serif;
          font-size: 14px;
          font-weight: 500;
          color: $white-color;
          display: block;
          width: 100%;
          > i {
            float: right;
          }
        }
      }
    }
    .quick-action-btn {
      @extend %button-hover;
      position: relative;
    }
    .quickAc-container {
      top: 80px;
      right: 190px;
      position: absolute;
      background-color: $bg-components;
      -webkit-box-shadow: rgba(1, 5, 17, 0.3) 0px 8px 28px 0px;
      box-shadow: rgba(1, 5, 17, 0.3) 0px 8px 28px 0px;
      @include border-r(12px);
      .quick-title {
        background: $background-buttons;
        color: $white-color;
        > h4 {
        }
        > .des {
        }
      }

      .quick-action-list {
        max-width: 320px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 10px;
        li {
          .quick-icon {
            i {
            }
          }
          .text {
          }
        }
      }
    }
    .person {
      .person-title {
        position: relative;
        @include flexbox("center", "center", $gap: "10px");
        cursor: pointer;
        img {
          width: 35px;
          height: 35px;
          @include border-r(50%);
          object-fit: cover;
        }
        span {
          color: $white-color;
          font-weight: 500;
          font-size: 14px;
        }
        &::before {
          content: "Profile";
          position: absolute;
          background-color: #5a5a5c;
          color: #fff;
          width: fit-content;
          bottom: -31px;
          padding: 5px 10px;
          font-size: 14px;
          font-family: "fangsong";
          @include border-r(6px);
          opacity: 0;
          @include transition(0.6s);
        }
        &:hover::before {
          opacity: 0.8;
        }
      }
    }
  }
}

// ====================================================================== //

// Animtion Show Notifications

@include keyF(showDetails) {
  from {
    @include transform(scale(0));
  }
  to {
    @include transform(scale(1));
  }
}

// ====================================================================== //

// Start Placeholder
%button-hover {
  color: $gray-color;
  cursor: pointer;
  @include transition(0.6s);
  width: 40px;
  height: 40px;
  @include border-r(50%);
  @include flexbox("center", "center");
  &:hover {
    background-color: $bg-hover-components;
  }
}

%details-container {
  position: absolute;
  background-color: $bg-components;
  -webkit-box-shadow: rgba(1, 5, 17, 0.3) 0px 8px 28px 0px;
  box-shadow: rgba(1, 5, 17, 0.3) 0px 8px 28px 0px;
  top: 80px;
  padding: 15px;
  @include border-r(12px);
  max-width: 300px;
}

%scrollBar-header-buttons {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $bg-hover-components;
    @include border-r(12px);
    display: none;
  }
  &:hover::-webkit-scrollbar-thumb {
    display: block;
  }
}

%hr-horizontal {
  border-width: 0px 0px thin;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  background-color: rgb(52, 59, 79);
}
// End Placeholder
