// Import Variabels File
@use "../helpers/variables" as *;

// Import Mixins File
@use "../helpers/mixins" as *;

header {
  background-color: $bg-primary;
  padding: 20px;
  @include flexbox("space-between", "center");
  @media #{$max-small} {
    @include flexbox(
      $jc: "center",
      $dir: "column",
      $wrap: "wrap",
      $gap: "20px"
    );
  }
  .page-head {
    position: relative;
    width: 100%;
    .toggler-sidebar {
      color: $white-color;
      font-size: 20px;
      cursor: pointer;
      @include transition(0.6s);
      opacity: 0;
      position: absolute;
      top: 50%;
      left: -100%;
      transform: translateY(-50%);
      @media #{$max-small} {
        left: 95%;
        opacity: 1;
      }
    }
    .page-name {
      color: $white-color;
      font-family: "Work Sans", serif;
      font-size: 23px;
      @media #{$max-small} {
        text-align: center;
      }
    }
  }
  .noti-group {
    @include flexbox($ai: "center", $gap: "20px");
    .noti-btn {
      position: relative;
      width: 40px;
      height: 40px;
      @include border-r(50%);
      background-color: $bg-hover-components;
      @include flexbox("center", "center");
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        background-color: #31ce36;
        width: 15px;
        height: 15px;
        top: -6px;
        right: -6px;
        @include border-r(50%);
      }
      &::after {
        content: "8";
        color: #fff;
        position: absolute;
        font-size: 12px;
        top: -7px;
        right: -2px;
      }
      i {
        color: $gray-color;
      }
    }
    .noti-container {
      z-index: 998;
      right: 302px;
      width: fit-content;
      min-width: 280px;
      max-width: 350px;
      padding: 8px 0;
      @include transition(0.3s ease-in-out);
      transform-origin: top right;
      position: absolute;
      top: 70px;
      background-color: $bg-components;
      -webkit-box-shadow: rgba(1, 5, 17, 0.3) 0px 8px 28px 0px;
      box-shadow: rgba(1, 5, 17, 0.3) 0px 8px 28px 0px;
      @include border-r(12px);
      opacity: 0;
      visibility: hidden;
      transform: scale(0.8);
      &.show-noti {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
      }
      @media (max-width: 991px) {
        right: auto;
        left: 50%;
        transform: translateX(-50%) scale(0.8);
        top: 120px;
        &.show-noti {
          transform: translateX(-50%) scale(1);
        }
      }
      h4 {
        color: $gray-color;
        text-align: center;
        margin: 5px auto 15px;
        letter-spacing: 1px;
        font-weight: 800;
      }
      hr {
        @extend %hr-horizontal;
        margin: 15px 0 5px;
      }
      .noti-list {
        overflow-y: auto;
        max-height: 300px;
        @extend %scrollBar-header-buttons;
        li {
          cursor: pointer;
          @include flexbox($ai: "center", $gap: "10px");
          border-width: 0px 0px thin;
          border-style: solid;
          border-color: rgba(255, 255, 255, 0.12);
          padding: 8px 10px;
          @include transition(0.6s);
          &:hover {
            background-color: $bg-hover-components;
          }
          &:last-of-type {
            border-width: 0px;
          }
          .icon {
            width: 40px;
            height: 40px;
            @include border-r(50%);
            color: $white-color;
            @include flexbox("center", "center");
            &:has(.add-user) {
              background-color: $blue-color-alt;
            }
            &:has(.chat) {
              background-color: $green-color;
            }
            &:has(.love) {
              background-color: $red-color;
            }
            &:has(.like) {
              background-color: $blue-color;
            }
          }
          img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            @include border-r(50%);
          }
        }
        .noti-content {
          span:first-child {
            display: block;
            color: $white-color;
            font-size: 12px;
            font-weight: 500;
          }
          span:last-child {
            color: $gray-color;
            font-size: 11px;
            font-weight: 500;
          }
        }
      }
    }

    .message-btn {
      @extend %button-hover;
      position: relative;
    }
    .msg-container {
      z-index: 998;
      width: fit-content;
      min-width: 280px;
      max-width: 350px;
      padding: 8px 0;
      right: 245px;
      @include transition(0.3s ease-in-out);
      transform-origin: top right;
      position: absolute;
      top: 70px;
      background-color: $bg-components;
      -webkit-box-shadow: rgba(1, 5, 17, 0.3) 0px 8px 28px 0px;
      box-shadow: rgba(1, 5, 17, 0.3) 0px 8px 28px 0px;
      @include border-r(12px);
      opacity: 0;
      visibility: hidden;
      transform: scale(0.8);
      &.show-msg {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
      }
      @media (max-width: 991px) {
        right: auto;
        left: 50%;
        transform: translateX(-50%) scale(0.8);
        top: 120px;
        &.show-msg {
          transform: translateX(-50%) scale(1);
        }
      }
      .title-msg {
        @include flexbox("space-between", "center");
        padding: 6px 12px;
        .message {
          font-size: 15px;
          font-family: "Work Sans", serif;
          font-weight: 500;
          color: $white-color;
        }
        > a {
          font-family: "Work Sans", serif;
          font-size: 14px;
          font-weight: 500;
          color: $white-color;
        }
      }
      hr {
        @extend %hr-horizontal;
        margin-bottom: 5px;
        margin-top: 10px;
      }
      .list-msg {
        max-height: 250px;
        overflow-y: auto;
        padding-right: 5px;
        @extend %scrollBar-header-buttons;
        li {
          @include flexbox($ai: "center", $gap: "15px");
          padding: 8px 16px;
          cursor: pointer;
          @include transition(0.6s);
          &:hover {
            background-color: $bg-hover-components;
          }
          border-width: 0px 0px thin;
          border-style: solid;
          border-color: rgba(255, 255, 255, 0.12);
          &:last-of-type {
            border-width: 0px;
          }
          .image {
            img {
              width: 40px;
              height: 40px;
              object-fit: cover;
              @include border-r(50%);
            }
          }
          .info {
            .name {
              font-family: "Work Sans", serif;
              font-size: 13px;
              color: $gray-color;
              font-weight: 700;
            }
            .contentMsg {
              font-family: "Work Sans", serif;
              font-size: 12px;
              color: rgb(174 185 225 / 70%);
              margin: 5px 0;
              font-weight: 600;
            }
            .time {
              font-size: 10px;
              color: rgb(174 185 225 / 50%);
              font-weight: 500;
            }
          }
        }
      }
      .foot-msg {
        padding: 6px 12px;
        margin-top: 5px;
        > a {
          font-family: "Work Sans", serif;
          font-size: 14px;
          font-weight: 500;
          color: $white-color;
          display: block;
          width: 100%;
          > i {
            float: right;
            position: relative;
            top: 1px;
          }
        }
      }
    }
    .quick-action-btn {
      @extend %button-hover;
      position: relative;
    }
    .quickAc-container {
      z-index: 998;
      @include transition(0.3s ease-in-out);
      transform-origin: top right;
      position: absolute;
      top: 70px;
      right: 190px;
      background-color: $bg-components;
      -webkit-box-shadow: rgba(1, 5, 17, 0.3) 0px 8px 28px 0px;
      box-shadow: rgba(1, 5, 17, 0.3) 0px 8px 28px 0px;
      @include border-r(12px);
      opacity: 0;
      visibility: hidden;
      transform: scale(0.8);
      &.show-quickAc {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
      }
      @media (max-width: 991px) {
        right: auto;
        left: 50%;
        transform: translateX(-50%) scale(0.8);
        top: 120px;
        &.show-quickAc {
          transform: translateX(-50%) scale(1);
        }
      }
      .quick-title {
        background: $background-buttons;
        color: $white-color;
        text-align: center;
        padding: 15px;
        @include border-r(12px 12px 0 0);
        > h4 {
          font-family: "Work Sans", serif;
          font-size: 18px;
        }
        > .des {
          font-size: 14px;
          font-weight: 600;
          color: #d5d5d5;
          font-family: "Work Sans", serif;
        }
      }
      .quick-action-list {
        max-width: 350px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
        gap: 20px;
        padding: 15px;
        text-align: center;
        li {
          cursor: pointer;
          .quick-icon {
            transform-origin: center;
            will-change: transform;
            width: 40px;
            height: 40px;
            @include border-r(50%);
            @include flexbox("center", "center");
            @include transition(0.6s);
            margin: 0 auto 5px;
            &:hover {
              @include transform(scale(1.1));
            }
            &:has(.calendar) {
              background-color: $red-color;
            }
            &:has(.map) {
              background-color: $yellow-color;
            }
            &:has(.excel) {
              background-color: $blue-color-alt;
            }
            &:has(.envelope) {
              background-color: $green-color;
            }
            &:has(.invoice) {
              background-color: $blue-color;
            }
            &:has(.credit) {
              background-color: $purple-color;
            }
            i {
              color: $white-color;
            }
          }
          .text {
            color: $gray-color;
            font-size: 13px;
            font-weight: 600;
          }
        }
      }
    }
    .person-title {
      position: relative;
      @include flexbox("center", "center", $gap: "10px");
      cursor: pointer;
      img {
        width: 35px;
        height: 35px;
        @include border-r(50%);
        object-fit: cover;
      }
      span {
        color: $white-color;
        font-weight: 500;
        font-size: 14px;
      }
    }
    .profile-menu-container {
      z-index: 998;
      padding: 8px 0;
      max-width: 250px;
      @include transition(0.3s ease-in-out);
      transform-origin: top right;
      position: absolute;
      top: 70px;
      right: 70px;
      background-color: $bg-components;
      -webkit-box-shadow: rgba(1, 5, 17, 0.3) 0px 8px 28px 0px;
      box-shadow: rgba(1, 5, 17, 0.3) 0px 8px 28px 0px;
      @include border-r(12px);
      opacity: 0;
      visibility: hidden;
      transform: scale(0.8);
      &.show-prof-menu {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
      }
      @media (max-width: 991px) {
        right: auto;
        left: 50%;
        transform: translateX(-50%) scale(0.8);
        top: 120px;
        &.show-prof-menu {
          transform: translateX(-50%) scale(1);
        }
      }
      .info-person {
        @include flexbox($ai: "center", $gap: "10px");
        margin: 5px 0;
        padding: 6px 16px;
        .image {
          img {
            width: 40px;
            height: 40px;
            @include border-r(50%);
            object-fit: cover;
          }
        }
        .details {
          .name {
            display: block;
            font-size: 14px;
            color: $white-color;
            font-weight: 600;
          }
          .email {
            font-size: 12px;
            color: #d5d5d5;
            font-weight: 400;
          }
        }
      }
      hr {
        border-width: 0px 0px thin;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.12);
        background-color: rgb(52, 59, 79);
        margin-bottom: 10px;
      }
      .profile-menu-list {
        line-height: 1.3;
        li {
          @include transition(0.6s);
          padding: 8px 16px;
          &:hover {
            background-color: $bg-hover-components;
          }
          .profile-list-link {
            display: block;
            width: 100%;
            > i {
              margin-right: 15px;
              color: $gray-color;
            }
            > span {
              color: $gray-color;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

// ====================================================================== //

// Header Design In Light Mode

body[data-theme="light"] {
  header {
    background-color: $white-color;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.15);
    .page-head {
      .toggler-sidebar {
        color: $icon-color-light;
        &:hover {
          color: $header-color-light;
        }
      }
      .page-name {
        color: $pink-color;
        &::first-letter {
          color: #00c2ff;
        }
      }
    }

    .noti-group {
      .noti-btn {
        background-color: $bg-light;
        i {
          color: $icon-color-light;
        }
      }
      .noti-container {
        background-color: $white-color;
        box-shadow: 0 1px 11px rgba(0, 0, 0, 0.15);
        h4 {
          color: $header-color-light;
        }
        hr {
          border-color: #ddd;
        }
        .noti-list {
          &::-webkit-scrollbar-thumb {
            background-color: #bbb;
          }
          li {
            border-color: rgba(0, 0, 0, 0.12);
            &:hover {
              background-color: $bg-light;
            }
          }
          .noti-content {
            span:first-child {
              color: $black-color;
              font-weight: 600;
            }
            span:last-child {
              color: $primary-color;
            }
          }
        }
      }
      .message-btn {
        color: $icon-color-light;
        background-color: $bg-light;
        &:hover {
          background-color: $bg-light;
        }
      }
      .msg-container {
        background-color: $white-color;
        .title-msg {
          .message {
            color: $header-color-light;
          }
          > a {
            color: $blue-color;
          }
        }
        hr {
          border-color: #ccc;
        }
        .list-msg {
          &::-webkit-scrollbar-thumb {
            background-color: #bbb;
          }
          li {
            border-color: rgba(0, 0, 0, 0.12);
            &:hover {
              background-color: $bg-light;
            }
            .info {
              .name {
                color: #333;
              }
              .contentMsg {
                color: #444;
              }
              .time {
                color: #555;
                font-weight: 700;
              }
            }
          }
        }
        .foot-msg {
          > a {
            color: #444;
            > i {
              float: right;
              position: relative;
              top: 1px;
            }
          }
        }
      }
      .quick-action-btn {
        color: $icon-color-light;
        background-color: $bg-light;
        &:hover {
          background-color: $bg-light;
        }
      }
      .quickAc-container {
        box-shadow: 0 1px 11px rgba(0, 0, 0, 0.15);
        background-color: $white-color;
        .quick-action-list {
          li {
            .text {
              color: $header-color-light;
            }
          }
        }
      }
      .person-title {
        span {
          color: #333;
          font-weight: 700;
        }
      }
      .profile-menu-container {
        box-shadow: 0 1px 11px rgba(0, 0, 0, 0.15);
        background-color: $white-color;
        .info-person {
          .details {
            .name {
              color: $header-color-light;
              font-weight: 700;
            }
            .email {
              font-size: 11px;
              color: #333;
              font-weight: 600;
            }
          }
        }
        hr {
          border-color: #ccc;
        }
        .profile-menu-list {
          li {
            &:hover {
              background-color: $bg-light;
            }
            .profile-list-link {
              > i {
                color: #333;
              }
              > span {
                color: #222;
                font-size: 14px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}

// ====================================================================== //

// Animtion Show lists

@include keyF(showDetails) {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

// ====================================================================== //

// Start Placeholder

%button-hover {
  color: $gray-color;
  cursor: pointer;
  @include transition(0.6s);
  width: 40px;
  height: 40px;
  @include border-r(50%);
  @include flexbox("center", "center");
  &:hover {
    background-color: $bg-hover-components;
  }
}

%scrollBar-header-buttons {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $bg-primary;
    @include border-r(12px);
    display: none;
  }
  &:hover::-webkit-scrollbar-thumb {
    display: block;
  }
}

%hr-horizontal {
  border-width: 0px 0px thin;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  background-color: rgb(52, 59, 79);
}

// End Placeholder

// ====================================================================== //
