// Import Variables File
@use "../helpers/variables" as *;

// Import Mixins File
@use "../helpers/mixins" as *;

// Import Global Rules File
@use "../helpers/global";

// Import Header File
@use "../components/header";

// Import SideBar File
@use "../components/sidebar";

// ========================================================================= //

// Start Dash-Title-Box

.dash-title-box {
  background-color: $bg-primary;
  @include flexbox("space-between", "center");
  @media #{$max-mobile} {
    @include flexbox($jc: "center", $dir: "column");
  }
  padding: 20px;
  .box-time {
    color: $white-color;
    .clock {
      text-shadow: 0 0 20px rgba(10, 175, 230, 0.6),
        0 0 20px rgba(10, 175, 230, 0);
      font-size: 20px;
      font-weight: 600;
      position: relative;
      @media #{$max-mobile} {
        font-size: 15px;
      }
      .time-icon {
        background-color: $bg-hover-components;
        display: inline-block;
        padding: 5px;
        @include border-r(4px);
        border: 1px solid $gray-color;
      }
      .hours,
      .minutes,
      .seconds,
      .period {
        background-color: $bg-hover-components;
        display: inline-block;
        padding: 5px;
        width: 40px;
        text-align: center;
        @include border-r(4px);
        border: 1px solid $gray-color;
        @media #{$max-mobile} {
          width: 35px;
        }
      }
      .seconds {
        margin-right: 4px;
      }
      .period {
        font-size: 12px;
        position: absolute;
        top: -10px;
        @media #{$max-mobile} {
          font-size: 8px;
          width: 25px;
        }
      }
    }
    .date {
      border: 1px solid $gray-color;
      font-weight: 500;
      @include border-r(4px);
      text-shadow: 0 0 20px rgba(10, 175, 230, 0.6),
        0 0 20px rgba(10, 175, 230, 0);
      margin-top: 15px;
      background-color: $bg-hover-components;
      padding: 10px;
      letter-spacing: 0.05em;
      .date-icon {
        display: inline-block;
      }
      @media #{$max-mobile} {
        font-size: 13px;
      }
    }
  }
  .box-manage {
    padding: 20px;
    .manage,
    .add-customer {
      font-size: 17px;
      display: inline-block;
      color: $white-color;
      background-color: $blue-color;
      border: none;
      padding: 10px 20px;
      @include border-r(50px);
      cursor: pointer;
      font-weight: 600;
      margin: 0 3px;
      @media #{$max-mobile} {
        font-size: 12px;
      }
    }
    .add-customer {
      background-image: $background-buttons;
    }
  }
}

body[data-theme="light"] {
  .dash-title-box {
    color: #333;
    background-color: $bg-light;
    .box-time {
      color: $white-color;
      .clock {
        text-shadow: none;
        .time-icon {
          background-color: $blue-color-alt;
          color: $white-color;
          border: 1px solid $blue-color-alt;
          font-weight: 600;
          box-shadow: 0 2px 4px rgba(0, 0, 20, 0.08),
            0 1px 2px rgba(0, 0, 20, 0.08);
        }
        .hours,
        .minutes,
        .seconds,
        .period {
          background-color: $blue-color-alt;
          border: 1px solid $blue-color-alt;
          box-shadow: 0 2px 4px rgba(0, 0, 20, 0.08),
            0 1px 2px rgba(0, 0, 20, 0.08);
        }
        .dot {
          color: $icon-color-light;
          font-weight: 800;
        }
      }
      .date {
        text-shadow: none;
        border: 1px solid $blue-color-alt;
        background-color: $blue-color-alt;
        box-shadow: 0 2px 4px rgba(0, 0, 20, 0.08),
          0 1px 2px rgba(0, 0, 20, 0.08);
      }
    }
    .box-manage {
      .manage,
      .add-customer {
        color: $blue-color-alt;
        background-color: rgba(72, 171, 247, 0.1);
        box-shadow: 0 2px 4px rgba(0, 0, 20, 0.08),
          0 1px 2px rgba(0, 0, 20, 0.08);
      }
      .add-customer {
        background-image: none;
        color: $white-color;
        background-color: $blue-color-alt;
      }
    }
  }
}

// End Dash-Title-Box

// ========================================================================= //

// Start Dash-Stats-Box

.dash-stats-box {
  padding-top: 15px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  background-color: $bg-primary;
  gap: 20px;
  .stats-box {
    background-color: $bg-components;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    @include flexbox("", "center", "", "", "20px");
    box-shadow: rgba(1, 5, 17, 0.3) 0px 8px 28px 0px;
    @include border-r(12px);
    @media #{$max-mobile} {
      justify-content: center;
    }
    .icon {
      color: $white-color;
      padding: 15px;
      @include border-r(8px);
      &:has(.users) {
        background-color: $blue-color;
      }
      &:has(.subscribe) {
        background-color: $pink-color;
      }
      &:has(.suitcase) {
        background-color: #00c2ff;
      }
      &:has(.check) {
        background-color: $purple-color;
      }
      i {
        font-size: 23px;
      }
    }
    .info {
      width: 50%;
      .title {
        display: block;
        font-weight: 600;
        color: $gray-color;
        text-align: center;
      }
      .number {
        display: block;
        color: $orange-color;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
      }
    }
  }
}

body[data-theme="light"] {
  .dash-stats-box {
    background-color: $bg-light;
    .stats-box {
      background-color: $white-color;
      box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, 0.1);
      .icon {
        &:has(.suitcase) {
          background-color: $green-color;
        }
      }
      .info {
        .title {
          color: $icon-color-light;
          font-weight: 500;
        }
        .number {
          color: #333;
        }
      }
    }
  }
}

// End Dash-Stats-Box

// ========================================================================= //

// Start Dash Website Visitors

.dash-website-visitors {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $bg-primary;
  .web-vis-container {
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: $bg-components;
    @include border-r(12px);
    .web-vis-head {
      @include flexbox("space-between", "center");
      .title {
        color: $white-color;
        font-size: 20px;
        font-weight: 500;
      }
      .export {
        border: none;
        background-color: $bg-primary;
        color: $white-color;
        padding: 10px 20px;
        font-size: 15px;
        font-weight: 500;
        @include border-r(6px);
        cursor: pointer;
        overflow: hidden;
        > i {
          margin-left: 5px;
          @include transform(translateY(30px));
          @include transition(0.6s ease-out);
        }
        &:hover > i {
          @include transform(translateY(0));
        }
      }
    }

    .web-vis-body {
      position: relative;
      min-height: 300px;
      .load {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 200px;
        margin-top: -100px;
        margin-left: -100px;
        @include border-r(50%);
        border-width: 6px;
        border-style: solid;
        border-color: $pink-color;
        border-left-color: transparent;
        @include transform(rotate(-20deg));
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          border-width: 6px;
          border-style: solid;
          @include border-r(50%);
          border-left-color: transparent;
          @include transform(rotate(-45deg));
          animation: loader 1 5s linear alternate-reverse;
          -webkit-animation: loader 1 5s linear alternate-reverse;
        }
        &::before {
          border-color: $blue-color;
          width: 165px;
          height: 165px;
          mask-image: conic-gradient(rgb(11, 23, 57) 225deg, transparent 0);
        }
        &::after {
          content: "";
          border-color: #00c2ff;
          width: 140px;
          height: 140px;
          mask-image: conic-gradient(rgb(11, 23, 57) 175deg, transparent 0);
        }
        p {
          position: absolute;
          color: white;
          font-weight: 600;
          font-size: 35px;
          top: 50%;
          left: 50%;
          @include transform(translate(-50%, -50%) rotate(20deg));
        }
      }
    }

    .web-vis-foot {
      @include flexbox("space-between", "center");
      .bullets {
        @include flexbox($dir: "column", $gap: "10px");
        span {
          &:first-child {
            color: $pink-color;
            font-weight: 600;
          }
          &:nth-child(2) {
            color: $blue-color;
            font-weight: 600;
          }
          &:last-child {
            color: #00c2ff;
            font-weight: 600;
          }
        }
      }
      .percentage {
        @include flexbox($dir: "column", $gap: "10px");
        span {
          &:first-child {
            color: $pink-color;
            font-weight: 600;
          }
          &:nth-child(2) {
            color: $blue-color;
            font-weight: 600;
          }
          &:last-child {
            color: #00c2ff;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@include keyF(loader) {
  from {
    @include transform(rotate(-45deg));
  }
  to {
    @include transform(rotate(1turn));
  }
}

// End Dash Website Visitors
