// Import Variabels File
@use "../helpers/variables" as *;

// Import Mixins File
@use "../helpers/mixins" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mona Sans", serif;
  // font-family: "Work Sans", serif;
}

.page {
  display: flex;
  .content {
    background-color: $bg-primary;
    overflow: hidden;
    padding: 10px;
    width: 100%;
  }
}
